body{
    background-color: chocolate;

}

header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    .nav{
        width: 90%;
        background-color: beige;
        margin: 10px auto;
        .ulnav{
            list-style-type: none;
            padding: 10px;
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            justify-content: left;
            .menu{
                padding: 10px;
                margin: 10px;
                &:hover{
                    background-color: chocolate;
                    border-radius: 15%;
                }
            }
        }
    }

}
main{
    background-color: black;
    color: white;
    .subtitulo{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        .pmain{
            font-family: sans-serif;
        }
    }
}
footer{
    background-color: yellow;
    .ulfooter{
        list-style-type: none;
        padding: 10px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        

        

    }


}